  td > a {
    text-decoration: none;
    align-self: center;
  }
  td > .v-input--checkbox {
    height: 63px;
    align-items: center;
  }
	.v-alert.error {
		height: 10px;
	}
  tr:nth-child(even) {
    background: #eeec;
  }
  @media only screen and (max-width: 600px) {
    table {
      display: table;
      table-layout: fixed;
      width: 100%;
    }
    thead {
      display: none;
    }
    tbody {
    }
    tfoot > th {
      border: 0;
      display: inherit;
    }
    tr {
      max-width: 100%;
      position: relative;
      display: block;
    }
    tr > td {
      border: 0;
      display: none;
      width: auto;
      justify-content: space-between;
      text-align: right;
      border-bottom: 1px solid gray;
    }
    tr> td.layout {
      display: none;
    }
    tr > td:before {
      content: attr(data-label);
      font-weight: bold;
      padding-right: 0.5em;
      text-align: left;
      float: left;
    }
    tr {
      display: table-row;
      width: 100vw;
    }
    .theme--light.v-table tbody tr:hover:not(.v-datatable__expand-row) {
      background: none;
    }
    table.v-table tbody tr {
      transition: none;
    }
    tr > td:nth-of-type(2) {
      display: table-cell;
      width: 30px;
    }
    tr > td:nth-of-type(3) {
      display: table-cell;
    }
    tr > td:nth-of-type(4) {
      display: table-cell;
    }
    tr.visible {
      width: 100vw;
      display: block !important;
    }
    tr > td.visible {
      display: block;
      width: 100vw;
    }
  }

.v-tabs__div {
  border-right: 3px solid yellow !important;
}

.borderField {
  border-bottom: 3px solid lightgray;
}

.ql-editor {
  min-height: 80px !important;
}

@media print {
  nav {
    display: none;
  }
  main {
    padding: 0 !important;
  }
  #toptable {
    height: 0;
    background: white;
    display: none !important;
  }
  #toptable > * {
    display: none !important;
  }
  #toptable + div {
    display: none !important;
  }
  .v-datatable__actions {
    display: none;
  }
  .v-datatable tr > td.justify-center.layout.px-0 {
    display: none;
  }
  .container.fluid.fill-height {
    padding: 3px;
  }
  .flex {
    flex-basis: 100% !important;
    width: 100% !important;
    max-width: 100% !important;
    margin: 0 !important;
  }
  .v-chip--label, .v-chip--label .v-chip__content {
    width: 200px;
  }
  button {
    display: none;
  }
  .elevation-12 {
    box-shadow: none !important;
  }
  tr > th:first-child, tr > th:last-child {
    display: none;
  }
  tr > td:first-child, tr > td:last-child {
    display: none;
  }
  .viewbuttons {
    display: none;
  }
}

.multiselect__tag, .multiselect__option--highlight, .multiselect__option--highlight:after {
  background: #1976d2 !important;
}
.multiselect__tag-icon:hover {
  background: #1a63ab !important;
}
.multiselect__tag-icon:after {
  color: white !important;
}

th {
  font-weight: bold !important;
}